* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'proxima-nova', sans-serif;
	text-align: justify;
	letter-spacing: 1px;
	background-color: #ece9e9;
}

.page {
	width: 1280px;
	margin: auto;
	padding-top: 50px;
}

nav {
	grid-column: 2;
	background-color: blueviolet;
}

a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
}

h1 {
	text-transform: uppercase;
	font-size: 25px;
	text-align: center;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 40px;
}

nav a {
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 1px solid transparent;
	padding-bottom: 4px;
	text-align: center;
	position: relative;
}

nav a:hover {
	border-bottom: solid 1px lightgray;
	width: 150px;
	color: lightgray;
	transition: .2s;
}


nav:hover .submenu {
	display: block;
}

.grid-item a {
	display: block;
	position: relative
}

.grid-item .grid-item-hover-summary {
	width: 100%;
	height: 98%;
	box-sizing: border-box;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(0, 0, 0, .8);
	color: #FFF;
	transition: opacity .5s cubic-bezier(.07, .01, 0, 1.04);
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

@media only screen and (min-width:481px) {
	.grid-item a:hover .grid-item-hover-summary {
		opacity: 1;
	}

	.zoom {
		transition: transform .5s;
	}

	.zoom:hover {
		transform: scale(1.1);

	}
}



.submenu {
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: #2d2d2d;
	position: absolute;
	opacity: 0.90;
	top: 160px;
	padding: 0 10px 0 0;
}

.submenu a {
	width: 100%;
	padding: 5px 5px 10px 5px;
	border-bottom: none;
}

.submenu a:hover {
	border-bottom: none;
	background-color: #e2c044;
	color: black;
	width: 100%;
	padding: 5px 5px 10px 5px;
}

header {
	display: grid;
	grid-template-columns: repeat(10, 1fr);

}

.logo {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	border-bottom: solid 4px #e2c044;
	display: flex;
	justify-content: center;
}

.website-title {
	grid-column: 2 / 11;
	grid-row: 1 / 3;
	background-color: #ece9e9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-item1 {
	grid-column: 2 / 5;
	grid-row: 3 / 4;
	background-color: #2d2d2d;
	border-bottom: solid 4px #e2c044;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-item2 {
	grid-column: 5 / 8;
	grid-row: 3 / 4;
	background-color: #2d2d2d;
	border-bottom: solid 4px #e2c044;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-item3 {
	grid-column: 8 / 11;
	grid-row: 3 / 4;
	background-color: #2d2d2d;
	border-bottom: solid 4px #e2c044;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-images {
	margin-top: 50px;
	margin-bottom: 50px;
	display: grid;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	grid-template-columns: repeat(8, 125px);
	justify-items: center;
	justify-content: center;
}

.nbre1 {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	color: black;
}

.nbre2 {
	grid-column: 3 / 5;
	grid-row: 1 / 2;
}

.nbre3 {
	grid-column: 5 / 7;
	grid-row: 1 / 2;
}

.nbre4 {
	grid-column: 7 / 9;
	grid-row: 1 / 2;
}

.nbre5 {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
}

.nbre6 {
	grid-column: 4 / 6;
	grid-row: 2 / 3;
}

.nbre7 {
	grid-column: 6 / 8;
	grid-row: 2 / 3;
}

.paragraph-aside {
	display: flex;
	justify-content: center;
	align-content: space-between;
	margin-top: 40px;
	margin-bottom: 80px;
}

aside {
	background: linear-gradient(to right, #ffffff 0px, #325467 200%);
	border: solid 1px #1b2c3d;
	padding: 25px 25px 22px 25px;
	width: 40%;
	box-shadow: 4px 4px 0 #062233;
	position: relative;
	box-sizing: content-box;
}

.paragraph {
	width: 80%;
	margin-right: 50px;
}

.arrow {
	position: absolute;
	top: 70px;
	left: -19px;
}

footer {
	background-color: #2d2d2d;
	border-top: solid 4px #e2c044;
}

.footertext {
	margin-left: 30px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hero-image {
	width: 100%;
	max-width: 1920px;
	height: auto;
}

@media only screen and (max-width: 1380px) {
	.page {
		max-width: 100%;
		width: 95%;
		margin: auto;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
	.nbre1 {
		grid-column: 2 / 4;
		grid-row: 1 / 2;
		color: black;
	}

	.nbre2 {
		grid-column: 4 / 6;
		grid-row: 1 / 2;
	}

	.nbre3 {
		grid-column: 6 / 8;
		grid-row: 1 / 2;
	}

	.nbre4 {
		grid-column: 6 / 8;
		grid-row: 2 / 2;
	}

	.nbre5 {
		grid-column: 2 / 4;
		grid-row: 2 / 3;
	}

	.nbre6 {
		grid-column: 4 / 6;
		grid-row: 2 / 3;
	}

	.nbre7 {
		grid-column: 4 / 6;
		grid-row: 3 / 3;
	}
}

@media only screen and (min-width: 575px) and (max-width: 899px) {
	.nbre1 {
		grid-column: 3 / 5;
		grid-row: 1 / 2;
		color: black;
	}

	.nbre2 {
		grid-column: 5 / 7;
		grid-row: 1 / 2;
	}

	.nbre3 {
		grid-column: 5 / 7;
		grid-row: 2 / 3;
	}

	.nbre4 {
		grid-column: 3 / 5;
		grid-row: 2 / 3;
	}

	.nbre5 {
		grid-column: 3 / 5;
		grid-row: 3 / 4;
	}

	.nbre6 {
		grid-column: 5 / 7;
		grid-row: 3 / 4;
	}

	.nbre7 {
		grid-column: 4 / 6;
		grid-row: 4 / 4;
	}
}

@media only screen and (max-width: 574px) {
	.page {
		max-width: 100%;
		width: 90%;
		margin: auto;
	}

	.nbre1 {
		grid-column: 4 / 6;
		grid-row: 1 / 2;
		color: black;
	}

	.nbre2 {
		grid-column: 4 / 6;
		grid-row: 2 / 3;
	}

	.nbre3 {
		grid-column: 4 / 6;
		grid-row: 3 / 4;
	}

	.nbre4 {
		grid-column: 4 / 6;
		grid-row: 4 / 5;
	}

	.nbre5 {
		grid-column: 4 / 6;
		grid-row: 5 / 6;
	}

	.nbre6 {
		grid-column: 4 / 6;
		grid-row: 6 / 7;
	}

	.nbre7 {
		grid-column: 4 / 6;
		grid-row: 7 / 7;
	}
}

@media only screen and (max-width: 650px) {
	.paragraph-aside {
		flex-direction: column;
	}
	
	.paragraph {
		width: 100%;
	}

	aside {
		background: linear-gradient(#ffffff 0px, #325467 200%);
		margin-top: 20px;
		align-self: center;
		width: 85%;
	
	}
	
	.arrow {
		top: -19px;
		left: 47%;
		transform: rotate(90deg);
	}
}
